@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 35px;
  height: 35px;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

.loader-container {
  padding-top: 10px;
  text-align: center;
}
